{% extends 'reviews/base.html' %}
{% block reviews %}
    <h1>MEDIA</h1>
    <div class="container d-flex flex-column gap-5 w-50">
        <div class="d-flex text-light gap-5 align-items-center">
            <img class="border border-light-2" style="border-radius: 35px; width: 150px; height: 150px;" src="../static/images/twitter-logo.png" alt="twitter logo">
            <div class="border border-light-1 p-3" style="border-radius: 15px; background-color: rgb(41, 11, 11);">
                <p>Follow me on twitter to get notified when I am live, upload new videos, add new reviews and so much more!</p>
            </div>
        </div>
        <div class="d-flex text-light gap-5 align-items-center">
            <div class="border border-light-1 p-3" style="border-radius: 15px; background-color: rgb(41, 11, 11);">
                <p></p>
            </div>
            <img class="border border-light-2" style="border-radius: 35px; width: 200px; height: 150px;" src="../static/images/twitch_logo.jpg" alt="twitch logo">
        </div>
        <img class="border border-light-2" style="border-radius: 35px; width: 200px; height: 150px;" src="../static/images/Youtube_logo.png" alt="youtube logo">
    </div>
{% endblock reviews %}
